<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EDUPLAY"
        tools:targetApi="31">
        <activity
            android:name=".Pengenalan_Warna3"
            android:exported="false" />
        <activity
            android:name=".Pengenalan_Warna2"
            android:exported="false" />
        <activity
            android:name=".Pengenalan_Warna1"
            android:exported="false" />
        <activity
            android:name=".Pengenalan_Hewan3"
            android:exported="false" />
        <activity
            android:name=".Pengenalan_Hewan2"
            android:exported="false" />
        <activity
            android:name=".Pengenalan_Hewan1"
            android:exported="false" />
        <activity
            android:name=".Pengenalan_Buah3"
            android:exported="false" />
        <activity
            android:name=".Pengenalan_Buah2"
            android:exported="false" />
        <activity
            android:name=".Pengenalan_Buah1"
            android:exported="false" />
        <activity
            android:name=".Menulis_B"
            android:exported="false" />
        <activity
            android:name=".Menulis_A"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".Pengenalan_Pancasila"
            android:exported="false" />
        <activity
            android:name=".Bernyanyi"
            android:exported="false" />
        <activity
            android:name=".Pengenalan"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>